<div class="row page-header">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-toggle="modal" href="#file-upload">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                Upload
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-folder-open"></span>
                Upload folder
            </button>

        </div>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>Status</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files">
            <td ng-bind="file.name"></td>
            <td ng-bind="file.size | hsize"></td>
            <td ng-bind="file.status"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="file-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload a file</h4>
            </div>
            <div class="modal-body">
                <input type="file" ng-file-select="onFileSelect($files)" multiple>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->