<div ng-include="'templates/header.html'"></div>
<div class="row page-header">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-toggle="modal" href="#file-upload">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                Upload
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-folder-open"></span>
                Upload folder
            </button>

        </div>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files">
            <td ng-bind="file.name"></td>
            <td ng-bind="file.size | hsize"></td>


            <td>
                <div class="btn-group btn-group-xs"
                      ng-class="{hide: file.status != 'Idle'}"
                        >
                    <button type="button" ng-click="download()" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Download</button>
                    <button type="button" ng-click="delete()" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                    <button type="button" ng-click="share()" class="btn btn-success"><span class="glyphicon glyphicon-link"></span> Share</button>
                </div>

                <div class="btn-group-vertical">

                </div>

                <div ng-class="{hide:file.status == 'Idle'}">
                    <span ng-bind="file.status"></span>
                    <div class="progress">

                      <div
                              class="progress-bar progress-bar-success"
                              role="progressbar"
                              aria-valuenow="{{ file.progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              style="width: {{ file.progress }}%"
                              >
                          <span class="sr-only"><span ng-bind="file.progress"></span>% Complete (success)</span>
                      </div>


                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="file-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload a file</h4>
            </div>
            <div class="modal-body">
                <input type="file" ng-file-select="onFileSelect($files)" multiple>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->