
<div class="row">
    <div class="span6">
        <form class="edit-cliente">
            <input   bt-horizontal bt-label="Ragione Sociale" ng-model= "editCliente.description"  >
            <input   bt-horizontal bt-label=" " ng-model= "editCliente.secondaDescrizione"  >
            <input   bt-horizontal bt-label="P.Iva" ng-model= "editCliente.partitaIva"  >
            <input   bt-horizontal bt-label="C. Fiscale" ng-model= "editCliente.codiceFiscale"  >

            <input   bt-horizontal bt-label="Fornitore" ng-model= "editCliente.fornitore"  >
            <input   bt-horizontal bt-label="Cliente" ng-model= "editCliente.cliente"  >

            <input   bt-horizontal bt-label="Indirizzo" ng-model= "editCliente.indirizzo"  >
            <input   bt-horizontal bt-label="Cap" ng-model= "editCliente.cap"  >
            <input   bt-horizontal bt-label="Comune" ng-model= "editCliente.comune"  >
            <input   bt-horizontal bt-label="Provincia" ng-model= "editCliente.provincia"  >



        </form>


    </div>
</div>